$highlight_color: #f44336;
$secondary_color: #4caf50;
$highlight_hover_color: $secondary_color;
$transition_time: 0.33s;
$transition_easing: ease-out;
$box_rounding: 2px;
$default_font_colour: rgba(0,0,0,0.88);

$image_margin: 2px;

$navbar_background: #1f1f1f;

$button_border_color: #cdcdcd;


@import 'grid';
@import 'material-icons';
@import 'titillium';
@import 'buttons';

* {
	-webkit-transition: all $transition_time $transition_easing;
	-moz-transition: all $transition_time $transition_easing;
	-o-transition: all $transition_time $transition_easing;
	transition: all $transition_time $transition_easing;
}
body {
	margin: 0;
	margin-top: 57px;
	font-family: "Titillium", Arial;
	color: $default_font_colour;
}
button {
	cursor: pointer;
}
a {
	color: $highlight_color; //default
	cursor: pointer;
}
a:hover {
	color: $highlight_hover_color;
}


ul#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $navbar_background;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

ul#navbar li {
	float: left;
	height: 50px;
}

ul#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul#navbar li form{
	margin-bottom: 0;
} 
ul#navbar li input {
	display: block;
	margin-top: 2px;
	margin-left: 14px;
	margin-bottom: 2px;
	height: 48px;
	border-top-left-radius: $box_rounding;;
	border-bottom-left-radius: $box_rounding;;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-appearance: none;
	border: none;
	width: 400px;
	font-size: 20px;
	font-family: "Titillium Web", Arial;
	display: inline;
}

ul#navbar li a:hover:not(.active) {
	background-color: #444444;
}

ul#navbar li .active {
	background-color: $highlight_color;
}
ul#navbar li .active:hover {
	background-color: $highlight_hover_color;
}
ul#navbar li.right {
	float: right;
}
input{
	font-size: 18px;
	background-color: #fff;
	font-family: "Titillium", Arial;
	border: 1px solid $button_border_color;
	border-bottom: 1px solid $highlight_color;
	border-radius: $box-rounding;
	display: block;
	padding: 4px;
}
input:focus{
	box-shadow: 0px 0px 4px $secondary_color;
}
form.full-width > input{
	width:100%;
}
label{
	font-weight: 600;
	margin-top: 5px;
	display:block;
}


select{
	font-size: 18px;
	padding: 5px 10px;
	background-color: #fff; 
	font-family: "Titillium", Arial;
	border: 1px solid $button_border_color;
	border-bottom: 1px solid $highlight_color;
	border-radius: $box_rounding;;
	margin-right: 5px;
	margin-bottom: 5px;
}
/*
ul#navbar .dropdown-content{
	position: absolute;
}
ul#navbar .dropdown-content a {
	display: none;
	position: absolute;
	color:red;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul#navbar .dropdown-content:hover a {
	display:block;
}
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
	opacity: 1;
}




a i.material-icons {
	vertical-align: middle;
}

h3{
	margin-bottom: 6px;
	margin-top: 5px;
	font-weight: 600;
	border-bottom: 1px solid $secondary_color;
}

span.red {
	color: #f44336;
}
span.green{
	color: #4caf50;
}
span.dark-green{
	color: #388e3c;
}
span.blue {
	color: #1976d2;
}
span.fade {
	color: $button_border_color;
}

.rt-req {
	padding-left: 5px;
	border-bottom: 1px solid $button_border_color;
	margin-bottom: 3px;
}


.right{
	float:right;
}

#primary_nav_wrap
{
	//margin-top:15px
	top: 0;
	position: fixed;
	background-color: $navbar_background;
	width: 100%;
	height: 52px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#FFF;
	text-decoration:none;
	line-height:52px;
	padding:0 15px;
	height: 52px;
	vertical-align: middle;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#444444;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:$navbar_background;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}