<html>
<head>
	<title>Example.com - Lloogg</title>
	<!--Google Icon Font-->
    <!--<link href="http://fonts.googleapis.com/icon?family=Titillium+Web:300,400,400i,600" rel="stylesheet" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../static/css/main.css" rel="stylesheet" />
</head>

<body>
    <!--Top navigation -->
	<ul id="navbar">
	  <li><a class="active" href="/">Lloogg</a></li>
	  
		
	   <li class="dropdown">
            <div class="dropdown">
				<a>Mouse over me</a>
				<div class="dropdown-content">
					<p>Hello World!</p>
				</div>
			</div>
        </li>
		<li>
			<div class="dropdown">
				<a href="../feedbacks.html">Feedbacks</a> 
			</div>
		</li>
		<li class="right"><a href="settings.html"><i class="material-icons">settings</i></a></li>	  
	  <li class="right"><a href="user-settings.html"><i class="material-icons">face</i><i class="material-icons">arrow_drop_down</i></a></li>
	</ul>
	<!-- End top navigation -->

	<div class="grid">
		<div class="unit four-fifths">
            <p>Cut and paste the following code in every page of your seite for which you are interested
                in seeing real time access. <b>Important notes:</b>
            </p>
            <ul>
                <li>
                    It's better to put the code just above the closing &lt;&#47;body&gt; tag.
                </li>
                <li>
                    If you are using wordpress you can find the &lt;&#47;body&gt; tag is in the <b>footer.php</b> page
                </li>
            </ul>
            <form>
                <textarea name="settings" cols="100" rows="10"></textarea>
                <button type="button">Copy</button>
            </form>
		</div>
		<div class="unit one-fifth">
			<h3>Today</h3>
			Pageviews: 20<br />
			Visits: 12
			<br />
			<h3>Top Pages</h3>
			<a href="https://www.example.com/example">www.example.com/example</a> 8
			<a href="https://www.example.com/example">www.example.com/page</a> 6
			<a href="https://www.example.com/example">www.example.com/about-us</a> 6
			<a href="https://www.example.com/example">www.example.com/the-company</a> 6
			<a href="https://www.example.com/example">www.example.com/why-we-love-pasta</a> 3

			<br /><br />
			<a href="test.html">Bunch</a> <a href="test.html">of</a> <a href="test.html">useful</a> <a href="test.html">help</a> <a href="test.html">links</a>.
		</div>	
	</div>
	
</body>
<!-- Please don't force me to use jquery, senpai <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script src="../static/js/full.js"></script>
<script type="text/javascript">
	var loog_site = "w7xAW";
	var loog = document.createElement("script");
	loog.type = "text/javascript";
	loog.async = true;
	loog.src = "../static/js/loog.js";
	(
		document.getElementsByTagName("head")[0] || document.getElementsByTagName('body')[0]
	).appendChild(loog);
</script>

  
</html>